# Backend Gateway Configuration
PORT=5000
NODE_ENV=development

# PostgreSQL Database URL (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/mock_interviewer?schema=public"

# Redis Configuration (BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Downstream Microservices
IMAGE_PROCESSING_URL=http://localhost:3000
OCR_SERVICE_URL=http://localhost:3001

# Google AI Studio Gemini Model Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
